<div class="home">
  <h1 class="title">Variables - Enum - Interface</h1>

  <div class="home-container">
    <div class="home-container-section">
      <h2 class="subtitle">Variables</h2>
      <ul>
        <li>
          <strong>String : </strong>
          "je suis un string" | 'Encore une fois' | `Encore une autre forme`
        </li>
        <li>
          <strong>Number : </strong>
          50 | 6.7 | ATTENTION 50 !== "50"
        </li>
        <li>
          <strong>Boolean : </strong>
          true | false
        </li>
        <li>
          <strong>Array : </strong>
          [] | new Array | string[] | number[]
        </li>
        <li>
          <strong>Object : </strong>
          '{{"{}"}}' | new Object
        </li>
        <li>
          <strong>FormGroup : </strong>
          new FormGroup()
        </li>
        <li>
          <strong>Observable : </strong>
          new Observable
        </li>
        <li>
          <strong>Promise : </strong>
          new Promise
        </li>
      </ul>
    </div>
    <div class="home-container-section">
      <h2 class="subtitle">Cast string to number</h2>
      <ul>
        <li>Number("50")</li>
      </ul>
    </div>
    <div class="home-container-section">
      <h2 class="subtitle">Concat data</h2>
      <ul>
        <li>`${{"{VARIABLE}"}} je suis un string `</li>
      </ul>
    </div>
    <div class="home-container-section">
      <h2 class="subtitle">Verify type of a variable</h2>
      <ul>
        <li>typeof VARIABLE</li>
      </ul>
    </div>
    <div class="home-container-section">
      <h2 class="subtitle">Enum</h2>
      <ul>
        <li>Brand : one of the following values</li>
        <ul>
          <li>Apple : string</li>
          <li>Samsung : string</li>
          <li>Huawei : string</li>
        </ul>
      </ul>
    </div>
    <div class="home-container-section">
      <h2 class="subtitle">Interface</h2>
      <ul>
        <li>Object : Cars</li>
        <ul>
          <li>id : number</li>
          <li>brand : string</li>
          <li>model : string</li>
          <li>color : Color</li>
          <li>price : number</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
